<div class="container content-section">
  <div class="section page-container" style="text-align: center">
    <br><br><br><br>
    <%= image_tag 'https://s3-us-west-2.amazonaws.com/blogfolio/smiley.png' %>
    <br><br>
    <p style="font-size: 2em">Thank you for your message!</p> 
    <p>I will get back to you as soon as I can.</p>
  </div>
</div>