<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center border-div"><span class="border-box">a.chan</span></div>
      <div class="row center">
        <div class="center border-div"><span class="black-box">Web Developer</span></div>
      </div>

    </div>
  </div>
  <div class="parallax"><%= image_tag 'background1.jpg' %></div>
</div>

<div class="container content-section">
  <div class="section">
    <p style="font-size: 2em">Thank you for your message!</p> 
    <p>I will get back to you as soon as I can.</p>
  </div>
</div>