<div class="container content-section">
  <div class="section page-container center-align">
    <br><br><br><br>
    <%= image_tag 'smiley.png', class: 'responsive-img', alt: 'smile!' %>
    <br><br>
    <p style="font-size: 2em">Thank you for your message!</p> 
    <p>I will get back to you as soon as I can.</p>
  </div>
</div>