<div class="container content-section">
  <div class="section page-container">
    <div class="row">
      <div class="col s12 m6 l6">
        <br>
        <%= image_tag 'colorcrush.png', class: 'materialboxed', width: '100%' %>
        <br>
      </div>
      <div class="col s12 m6 l6">
        <h5>ColorCrush:</h5>
        <p>ColorCrush is a web app that helps users find similar makeup colors. The goal is to help users avoid purchasing similarly colored products and also to help find alternatives to specific products based on color. A user can search for products by name, brand, or type, and the search will return products of a similar color. The app was built using Ruby on Rails and uses the Color Thief javascript library.</p>
        <p><%= link_to 'See Demo', 'http://color-crush.herokuapp.com', target: 'new' %>
        <br><%= link_to 'Github Repo', 'https://github.com/amyology/colorcrush', target: 'new' %></p>
        <br>
        <h5>Used:</h5>
        <ul>
          <li>Rails</li>
          <li>Javascript</li>
          <li>AngularJS</li>
          <li>Foundation</li>
          <li>Colorthief.js</li>
        </ul>
      </div>
    </div>
  </div>
</div>