<% title "a.chan projects | Paramount of Oak Park" %>
<% meta_description 'amy chan developer projects' %>

<div class="container content-section">
  <div class="section page-container">
    <div class="row">
      <div class="col s12 m6 l6">
        <br>
        <%= image_tag 'paramount.png', class: 'materialboxed', width: '100%' %>
        <br>
      </div>
      <div class="col s12 m6 l6">
        <h5>Paramount of Oak Park:</h5>
        <p>Paramount of Oak Park is a rehabilitation and nursing center. The client wanted to enable admins to upload images and videos, so we incorporated that feature into a complete admin dashboard. Our team also built a wysiwyg for admins to be able to edit text directly on the site pages.</p>
        <p><%= link_to 'Visit Site', 'http://www.paramountoakpark.com', target: 'new' %></p>
        <br>
        <h5>Used:</h5>
        <ul>
          <li>Rails</li>
          <li>Javascript</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>
  </div>
</div>