@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$dark-gray: #212121;
$light-gray: #9E9E9E;
$accent-color: #00b8d4;

@mixin link-active {
  color: #FFF;
  background-color: rgba(255,255,255,0.05)
}

@mixin slow-transition {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

body {
  font-family: 'Inconsolata', monospace; 
  font-size: 1.1em;
}

main a:hover {
  opacity: 0.5;
  @include slow-transition;
}

main a:not(:hover) {
  @include slow-transition;
}

.headline {
  font-size: 1.4em;
  font-weight: bold;
}

.content-section {
  min-height: 40vh;
}

.landing {
  min-height: 93vh;
}

.page-container {
  min-height: 77.5vh;
  padding: 10px;
  margin-top: 50px;
}

.top-link {
  color: $light-gray;
  font-size: 1em;
}

.top-link:hover {
  @include link-active;
  opacity: 1;
}

.border-box {
  background-color: none;
  border: 4px solid #fff;
  font-size: 4.5em;
  padding: 20px 30px;
}

.smaller-box {
  background-color: none;
  border-bottom: 4px solid #fff;
  font-size: 3em;
  padding: 10px;
}

.border-div {
  margin-bottom: 40px;
  padding-top: 30px;
}

.black-box {
  background-color: rgba(0,0,0,0.8);
  font-size: 2em;
  padding: 7px;
}

.slide-nav {
  text-align: center; 
  padding: 15px; 
  font-size: 1.5em; 
  font-weight: bold;
}

.fa {
  font-size: 1.5em;
  margin-top: 0.5em;
}

nav {
  @include slow-transition;
}

nav.large {
  height: 5.5em;
  line-height: 5.5em;
  font-size: 1.1em;
}

nav.large a.brand-logo {
  font-size: 2em;
}

nav.small a.brand-logo {
  font-size: 1.6em;
}

nav.large i.material-icons {
  line-height: 2.4em;
  @include slow-transition;
}

nav.small i.material-icons {
  @include slow-transition;
}

nav ul a.active {
  @include link-active;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('loading.svg') 50% 50% no-repeat #fff;
}

.invisible {
  visibility: hidden;
}

.thumb {
  opacity: 0.5;
  @include slow-transition;
}

.thumb:hover {
  opacity: 1;
}

.circle-text {
  shape-outside: circle();
  -webkit-shape-outside: circle();
  float: left;
  margin: 10px;
}

.arrowdown {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include slow-transition;
  z-index: 9998;
  opacity: 0.8;
}

.arrowdown:hover {
  @include slow-transition;
  opacity: 0.5;
}

.arrowup {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include slow-transition;
  z-index: 9997;
  opacity: 0.1;
}

.arrowup:hover {
  @include slow-transition;
  opacity: 0.8;
}

::selection {
  background: $accent-color;
  color: #fff;
}

::-moz-selection {
  background: $accent-color;
  color: #fff;
}

code {
  font-size: 0.9rem !important;
}

hr {
  border: 0 !important;
  border-bottom: 1px dotted $accent-color !important;
}